.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
  
.cart-image {
    max-width: 100px;
    margin-right: 10px;
}
  
  .total-price {
    margin-top: 20px;
  }
  