<h2>Cart</h2>
<div *ngIf="cartItems.length === 0">Your cart is empty.</div>
<div *ngFor="let item of cartItems" class="cart-item">
  <img [src]="item?.thumbnail" alt="{{ item?.title }}" class="cart-image" />
  <h3>{{ item?.title }}</h3>
  <p>Price: ${{ item?.price }}</p>
  <p *ngIf="item?.discountPercentage">Discounted!</p>
  
  <input type="number" [value]="item?.quantity" (change)="updateQuantity(item, $event)" />
  <button (click)="removeFromCart(item?.id)">Remove</button>
</div>

<div class="total-price">
  <h3>Total Price: ${{ totalPrice?.toFixed(2) }}</h3>
</div>
