<h2>Shop</h2>
<div class="product-list">
    <ng-container *ngIf="products$ | async as products; else loading">
        <div *ngFor="let product of products" class="product-card">
            <img  
                ngSrc="{{ product?.thumbnail }}"
                alt="{{ product?.title }}"
                width="300" 
                height="300"
                class="product-image"    
                priority
            />
            <h3>{{ product?.title }}</h3>
            <p>Price: ${{ product?.price }}</p>
            <p *ngIf="product?.discountPercentage">Discounted!</p>
            <p>Rating: {{ product?.rating }}/5</p>
            <button (click)="addToCart(product)">Add to Cart</button>
          </div>
    </ng-container>
    <ng-template #loading>
      <p>Loading products...</p>
    </ng-template>  
</div>